<div class="wrapper">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <h1>Muda0</h1>
  <div class="button"><%= link_to "欲しいものを登録", wants_new_path %></div>

  <h2>List</h2>
  <ul>
    <% @wants.each do |want| %>
      <li>
        <%= link_to want.name, want_url(want)%>
        <p>¥<%= want.money %><p>
      </li>
    <% end %>
  </ul>

</div>
