<div class="wrapper">
  <div class="login_right">
    <a href="#">ログイン</a>
  </div>
    <h1>Muda0</h1>
    <p>このアプリは物欲を抑制し無駄使いをなくすアプリになります。<br>
    欲しいものを登録することで一度満足感を満たし、登録したほしいもの情報を１か月後に改めて見直し、本当に欲しいものかどうかを判断するためのアプリになります。
    </p>
    <div class="button_wrap">
    <%= link_to "新規登録", new_user_registration_path %>
    <%# <button class="sign_in_button" type="button">新規登録</button> %>
    </div>
    <div class="login_center">
      <%= link_to "ログイン", new_user_session_path %>
    </div>

</div>

