/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* all */
body{
  font-family: 'Kosugi', sans-serif;
  color: grey;
  font-weight: bold;
  background-color: lightyellow;
}

a{
  text-decoration: none;
}

/* トップページ */

 .sign_in_button {
  border: 0;
  line-height: 2.5;
  padding: 0 40px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: cadetblue;
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.sign_in_button:hover {
  background-color: gray;
}

.sign_in_button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.login_right{
  text-align: right;
}
.login_center{
  text-align: center;
}

/* my_page */

.wrapper{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
 }

 h1{
  color: black;
  font-family: "Nico Moji";
 }

 .button_wrap{
  text-align: center;
  padding: 20px 0;
 }

header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: gold;
  padding: 0 20px;
 }

h2{
  color: #333333;
}

.new_button{
  color: white;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.new_button:hover{
  background: lightyellow;
  color: black;
  transition: 0.3s;
}

.list_background{
  background-color: lightyellow;
}

.container{
  display: flex;
  flex-wrap:wrap;
  padding: 30px 0;
}

.back_img{
  position: relative;
}

.under_text{
  font-size: 0.8rem;
  border-radius: 5px;
  position: absolute;
  bottom: 0%;
  left: 5%;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 2px 5px;
}

.box_text{
  padding-left: 10%;
}

.text_hight{
  line-height: 2rem;
}

.box{
  background-color: white;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.under{
  margin-top: auto;
}

.top_img{
  width: 350px;
}

.total_box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px 0;
}

.total{
  text-align: center;
  font-size: 2rem;
  color: #333333;
}

.total span{
  color: red;
  font-size: 3.5rem;
  border-bottom: solid red 2px;
}

.total small{
  font-size: 1.2rem;
}
